*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color:black;
    color: white;
}
.dark-mode{
              
    background-color: grey;
    color:black;

}
.container{
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 150px auto;
    position: relative;
}
.btn{
    position: absolute;
    width: 100px;
    height: 40px;
    margin: 80px 10px 0px 48px;
    background: orangered;
    border: 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.btn:hover{
    transform: translateY(-5px);
}
.container:hover{
    box-shadow: 10px 5px 5px orangered;
}